<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="text/html" http-equiv="Content-Type">
</head>
<body>
  <h1>Thanks for signing up and welcome to Susscribe, <%= @user.email %></h1>
</body>
</html>